*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    white-space: nowrap;
}

.box-top{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    float: left;
    width: 100%;
    background-color: rgb(241, 181, 96);
    height: 50px;
}

.box-top-list{
    padding: 0 10px;
    text-decoration: none;
    color: black;
}
.box-top-list:hover{
    background-color:  #616263;
    .subnav{
        display: block;
    }
}
.box-logo{
    float: left;
    width: 100%;
    border-bottom: 1px solid black;
    height: 80px;
}
h1{
    text-align: center;
}
.box-top-right{
    display: flex;
    align-items: center;
    position: relative;
}
.box-top-left{
    display: flex;
    position: relative;
    align-items: center;
}

.text-bold{
    font-weight: bold;
}

.button{
    padding: 12px; 
    margin: 0 5px;
    border: none;  
    border-radius: 15px;
    background-color: rgb(14, 114, 79);
    color: white;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    white-space: nowrap;
    cursor: pointer;
}

.button-secondary{
    background-color: rgb(167, 32, 32);
}

.d-none{
    display: none;
}