body{
    font-size: 1.8rem;
}
a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

.d-flex {
    display: flex;
}

.align-item-center {
    align-items: center;
}

.p-2 {
    padding: 0 1.25rem;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 60px;
    background-color: rgb(241, 181, 96);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nav-list {
    display: flex;
}

.list-item-link {
    padding: 20px 20px;
}

.list-item-link:hover {
    background: rgb(236, 229, 219);
}

list-item-link:hover {
    background: rgb(236, 229, 219);
}

.title-page {
    padding-top: 30px;
}

/* Container tab */

.container{
    min-height: 100vh;
    max-width: 100vw;
    /* padding: 0 30px; */
}

.tab-container{
    margin-top: 50px;
}

.tab{
    display: flex;
}

.tablinks{
    border: none;
    font-size: 18px;
    padding: 12px 24px;
    border-radius: 15px 15px 0 0;
    cursor: pointer;
    background-color: #c26d6d;
    color: #fff;
}

.tabcontent {
    display: none;
    background-color: #ccc;
    border-radius: 0 15px 15px 15px;
    /* padding: 12px; */
}

.active{
    background-color: #b12e2e;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04aa6d;
    color: white;
}

table td,
table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}
table tr:hover {background-color: #ddd;}