.container{
    display: grid;
    place-items: center;
    max-width: 100vw;
    min-height: 100vh;
    background-image: url('../img/background.jpg');
    background-size: cover;
}
body{
    font-size: 1.8rem;
}

.login-box{
    background-color: white;
    border-radius: 20px;
    padding: 48px 84px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header-login{
    padding: 30px 0;
}

.body-login{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-login{
    display: flex;
    flex-direction: column;
}

.input-box{
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(168, 149, 149, 0.8);
    padding: 10px;
    margin: 10px 0;
}

.login-btn{
    margin: 20px 0px;
    text-transform: uppercase;
}

.forgot-pwd{
    margin: 10px 0;
    font-style: italic;
    color: #000;
}



