body {
    font-size: 1.8rem;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

.d-flex {
    display: flex;
}

.align-item-center {
    align-items: center;
}

.p-2 {
    padding: 0 1.25rem;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 60px;
    background-color: rgb(241, 181, 96);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nav-list {
    display: flex;
}

.list-item-link {
    padding: 20px 20px;
}

.list-item-link:hover {
    background: rgb(236, 229, 219);
}

.title-page {
    padding-top: 30px;
}

/* Container */

.container{
    padding: 30px;
}

.room {
    display: grid;
    grid-template-columns: 70% auto;
    column-gap: 30px;
}
.room-left {
    flex: 7;
    height: 450px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.head-room-left {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: gray !important;
    text-transform: capitalize;
    color: #fff;
}
.room-right {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    flex: 3;
}
.head-room-right {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: gray !important;
    text-transform: capitalize;
    color: #fff;
}
.body-room-right {
    display: flex;
    justify-content: center;
}

/* Body room left */
.body-room-left {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 30px;
}

/* Room card */
.room-card {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 15px;
}

.room-state {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.room-cancel {
    display: flex;
    align-items: end;
}

.card-disabled {
    background-color: #e3a287;
}

.card-disabled .btn-cancel {
    visibility: hidden;
}

.card-disabled .btn-purchase {
    display: none;
}

.card-disabled .customer-true {
    display: none;
}

.card-active {
    background-color: #6ad78f;
}

.card-active .btn-start {
    display: none;
}

.card-active .customer-false {
    display: none;
}

.btn-cancel:hover {
    background-color: rgb(228, 24, 24);
    cursor: pointer;
}

.btn-purchase:hover {
    background-color: rgb(41, 199, 75);
    cursor: pointer;
}

.btn-start:hover {
    background-color: rgb(41, 199, 75);
    cursor: pointer;
}

/* Food */
.food {
   padding-top: 30px;
}

/* Table controller */
table {
    border-collapse: collapse;
    width: 100%;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04aa6d;
    color: white;
}

table td,
table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}
table tr:hover {background-color: #ddd;}

.handle-process{
    text-align: end;
}

.text-center{
    text-align: center;
}

.btn-del{
    background-color: red !important;
}